body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #808080;
}
h2 {
  font-size: 30px;
  font-weight: 600;
}
h2,
h3,
h4 {
  color: #444;
}
/*
Color: #4caf50 (green)
*/

/*
==================
Common CSS
==================
*/
.wrapper {
  overflow: hidden;
}
.d-none {
  display: none;
}
a:hover {
  text-decoration: none;
}
.sec-title {
  text-align: center;
}
.sec-title .sub-title {
  font-size: 10px;
  text-transform: uppercase;
}
.sec-title h2 span {
  color: #8bc34a;
}
.padding-arround {
  padding: 2px;
}
.bottom-style {
  position: relative;
  width: 40px;
  background: #8bc34a;
  height: 3px;
  margin: auto;
  top: 7px;
}
.bottom-style:after {
  content: "";
  position: absolute;
  left: -10px;
  right: -10px;
  background: #e8e8e8;
  height: 1px;
  top: 1px;
  z-index: -9;
}
/*button*/
.our-btn {
  padding: 17px 30px;
  background: #d40505;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #d40505;
  transition: 0.3s;
  margin-top: 20px;
}
.our-btn:hover {
  text-decoration: none;
  background: #fff;
  color: #d40505;
}
.abt-btn .our-btn {
  background: #d40505;
  color: #fff;
  border: 1px solid #d40505;
}
.abt-btn .our-btn:hover {
  background: #fff;
  color: #d40505;
}
/*
======================
Header Area
======================
*/

.top-content {
  display: flex;
  justify-content: space-between;
}
.top-bar {
  background: #2d5ea3;
  position: static;
}
.top-left ul a {
  color: #fff;
  transition: .3s;
}
.top-left ul :hover {
  color: red;
}

.top-left ul,
.top-right ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.top-left ul li,
.top-right ul li {
  list-style: none;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
}
.top-left ul li {
  margin-right: 25px;
}
.top-left ul li i {
  margin-right: 6px;
}

.top-right ul li a {
  color: #bdbbbb;
  margin-left: 15px;
}
.top-right ul li a:hover {
  color: #fff;
}

/*Menu*/
.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: #fff;
  z-index: 999;
}

.fixed .header {
  position: fixed;
  left: 0;
  right: 0;
  top: -50px;
  background: #fff;
  z-index: 999;
}
.menu-area{
	border-bottom: .5px solid rgb(233, 233, 233);
}
.fixed .menu-area .navbar-light .navbar-nav li {
  margin-top: 10px;
  margin-bottom: 10px;
}
.menu-area .navbar-light .navbar-nav li {
  margin-top: 25px;
  margin-bottom: 25px;
  transition: 0.4s;
}
.menu-area .navbar-light .navbar-nav li a {
  color: #444;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  margin-right: 15px;
  margin-left: 15px;
}
.menu-area .navbar-light .navbar-nav li.active a {
  color: #2d5ea3;
}

/*Slider Area*/
.slider {
  position: relative;
  padding-top: 150px;
}
.slider-item {
  position: relative;
  text-align: center;
  color: #fff;
  z-index: 0;
}
.slider-item img {
  max-width: 100%;
}
.slider-item:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.slider-content {
  position: absolute;
  left: 50%;
  top: 35%;
  z-index: 2;
  margin-right: 7%;
}
.slider-content h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 50px;
  margin-top: -17px;
  margin-bottom: 20px;
  font-family: "Questrial", sans-serif;
}
.slider-content p {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}
.slider-btn .our-btn {
  margin-left: 15px;
  margin-right: 15px;
}
.our-bullet {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  position: absolute;
  z-index: 10;
  bottom: 30px;
  left: 0;
  right: 0;
  justify-content: center;
}
.our-bullet li {
  margin-left: 5px;
  margin-right: 5px;
  width: 8px;
  height: 8px;
  background: #9b9a9a;
  border: 2px solid #ffffff;
}
.our-bullet li.active {
  border: 2px solid #d40505;
}

.slider-arrow .left-arrow,
.slider-arrow .right-arrow {
  position: absolute;
  top: 50%;
  font-size: 40px;
  transform: translateY(-50%);
}
.slider-arrow .left-arrow {
  left: 30px;
}
.slider-arrow .right-arrow {
  right: 30px;
}

.slider-arrow .left-arrow a,
.slider-arrow .right-arrow a {
  color: #fff;
}
.slider-arrow .left-arrow a:hover,
.slider-arrow .right-arrow a:hover {
  color: #d40505;
}
/*===================
brand-logo-t
=====================
*/
.brand-logo-t {
  background-color: #2d5ea3;
  width: 100%;
  height: 140px;
  display: inline-block;
}
.brand-logo-t .ll1 img {
  margin-left: 50%;
  transform: translate(-50%);
}
.brn {
  margin-top: 50px;
}
/*==================
Videos-section
====================
*/
.videos {
  margin-top: 75px;
}

.video i {
  font-size: 40px;
  margin-left: 50%;
  transform: translate(-50%);
  color: #2d5ea3;
  margin-bottom: 30px;
}
.video video{
	position: relative;
}
video.videos-pbtn{
	color:#fff;
}
.videos-pbtn{
	position: absolute;
	top:48%;
	left: 0%;
	transform: translate(-50%, -50%);
}
.video h4,
p {
  text-align: center;
}
/*
======================
Offer section
======================
*/
.discount {
  background-color: #f3f3f3;
}
.disc h3 {
  text-align: center;
  margin-top: 50px !important;
  margin-bottom: 0 !important;
}
.big-video {
  margin: auto;
  margin-top: 0px !important;
}
.big-video video{
	position: relative;
}
.big-video-cont{
	margin-top: 0;
	padding-top: 0 !important;
}
.big-video .offer-pbtn{
	position: absolute;
	left: 48%;
	top: 57%;
	transform: translate(-50%, -50%);
    font-size: 80px;
}
.vs-btn {
  text-align: center;
  margin-top: 30px;
}
/*
======================
Elite- sec
======================
*/
.elite-sec {
  margin-top: 100px;
}
.sec-content {
  padding: 40px;
  text-align: center;
  margin-left: 20px;
}
/*
======================
insurence-sec
======================
*/
.insurence-sec {
  margin-top: 100px;
  background-color: #f3f3f3;
}
.insurence-sec .text-center {
  padding: 40px !important;
}
.insurence-sec .text-center h2,.elite-sec .text-center h2{
	color:#1c1c1c
}
.insurence-sec .insu-p p{
	color:#1c1c1c
}

/*
======================
paralax sec
======================
*/
.rev-sec {
  margin-top: 50px;
  background: url("../images/1.jpg");
  text-align: center;
  background-attachment: fixed;
}
.text-center h2 {
  margin-top: 50px;
  color: #fff;
}
.text-center h4 {
  margin-top: 25px;
  color: rgb(194, 193, 193);
}
.text-center p {
  margin-top: 16px;
  color: rgb(236, 235, 235);
}
.paralax-btn a{
	background: #2d5ea3;
	color: #fff;
	border: 1px solid #2d5ea3;
	margin-bottom: 40px;
  }
  .paralax-btn:hover a{
	background: #fff;
	color: #2d5ea3;
  }
/*
======================
Reveiw-sec
======================
*/
.reveiw-sec{
	margin-top: 50px;
}
.reveiw-sec .title-1 h2{
	color:#303030;
	margin-bottom: 30px;
	font-weight: 700;
}
.reveiw-sec iframe{
    margin-left: 10%;
}

/*
======================
Calender-sec
======================
*/
.calender-sec{
	background: url("../images/2.jpg");
	background-repeat: no-repeat;
    text-align: center;
    background-attachment: fixed;
}
.calender-sec .cal-title h2{
	color:#ffffff;
	margin-bottom: 30px;
	font-weight:800;
}
.calender-sec iframe{
	margin-bottom: 100px;
}

/*
======================
Pre-footer
======================
*/
.pre-footer{
    background-color: #22477a;
}
.pre-footer .pre-cont{
	margin-top: 50px;
    margin-bottom: 50px;
}
.pre-footer .pre-cont .h4{
	color:#fff;
	margin-bottom: 30px;
}
.pre-footer .pre-foot-btn{
	background-color: #d40505;
	color:#fff;
	border: 1px solid #d40505;
}
.pre-footer .pre-foot-btn:hover{
     background-color: #fff;
	 color:#d40505
}
/*
===============
footer-sec
================
*/


.footer li{
	list-style: none;
	padding: 8px;
}
.footer a{
	color: #bdbdbd;
	transition: .3s;
}
.footer a:hover{
	color:#fff;
}

/*
================
About
================
*/
.about-row{
  background-color: #ececec;
}
.about-page{
  margin-top: 160px;
}
.about-left{
  background-color:#fff;
}
.about-right h4{
  margin-top: -1px !important;
}
.about-left h4, .about-left-title h2 h4{
  text-align: center;
}
.about-left h4{
  margin-top: 50px;
}
.about-left video{
  max-width: 100%;
}
.about-left iframe{
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 55px;
}
.about-left-title h1{
  color:#1c1c1c;
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 42px;
}
.about-pic-bg{
  margin-top: 50px;
  height: 375px;
  max-width: 275px;
  background-color: #4caf50;
  margin: 0 auto;
  position: relative;
}
.about-left-sec h5{
      text-align: center;
      margin-top: 15px;
      margin-bottom: 40px;
}
.about-sub-title h4{
  text-align: center;
}
.about-img img{
  height: 302px;
  max-width: 375px;
  position: absolute;
  top: 178px;
  left: 229px;
  margin: 0 auto;
}
.about {
  margin-top: -100px;
}
.about-content .sec-title {
  text-align: left;
}
.abt-img {
  background: #4caf50;
}
.abt-img img {
  max-width: 100%;
  position: relative;
  top: 40px;
  left: 40px;
}
.about-content {
  padding-top: 100px;
  height: calc(100% + 40px);
}
.about-content .main-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.main-content {
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.about-content .abt-text {
  margin-top: 40px;
  margin-bottom: 40px;
}

/*
========================
We Do
========================
*/
.we-do {
  margin-top: 40px;
  background: #fafafa;
  padding-top: 100px;
}
.do-part {
  margin-top: 20px;
  margin-bottom: 20px;
}
.do-part ion-icon {
  font-size: 40px;
  color: #444444;
}
.do-part .do-title h4 {
  font-size: 18px;
  position: relative;
  padding-bottom: 10px;
}
.do-part .do-title h4:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 1px;
  background: #808080;
  bottom: 0;
  left: 0;
}
.we-img img {
  max-width: 110%;
  margin-bottom: -30%;
}

/*
========================
Big Banner Area
========================
*/
.big-banner {
  background: url("../images/1.jpg");
  text-align: center;
  border-bottom: 7px solid #4caf50;
  position: relative;
  background-attachment: fixed;
}
.big-banner:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}
.big-banner h2 {
  text-transform: uppercase;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}
.banner-content {
  padding-top: 125px;
  padding-bottom: 125px;
  position: relative;
}
.banner-content .big-btn {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  bottom: 0;
}
.banner-content .our-btn {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 30px 100px;
  border-radius: 50px;
}



/*Owl Carousel*/
.brand {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #fafafa;
}
.owl-carousel .owl-item {
  text-align: center;
}
.owl-carousel .owl-item img {
  width: auto;
  display: inline-block;
}

/*
=================
Footer Area
=================
*/
.footer {
  background: #262626;
}
.footer .widget {
  padding-top: 50px;
}
.footer .widget-one {
  padding-top: 100px;
}
.widget-one {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #303030;
  position: relative;
}
.widget-one:before {
  content: "";
  position: absolute;
  left: -5000px;
  right: 100%;
  top: 0;
  bottom: 0;
  background: #303030;
}
.widget-one .widget-logo {
  margin-bottom: 20px;
}
.widget-social ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.widget-social ul li a {
  color: #6b6b6b;
  display: block;
  padding: 10px;
  transition: 0.3s;
}
.widget-social ul li a i {
  transition: 0.3s;
}
.widget-social ul li a:hover i {
  transform: rotate(360deg);
}
.widget-social ul li a:hover {
  opacity: 0.8;
}

.widget .title h4 {
  font-size: 18px;
  color: #b6b6b6;
  font-weight: 600;
  margin-bottom: 20px;
}
.widget .content {
  color: #6b6b6b;
  font-size: 16px;
}

/*Subscriber*/
.subscribe {
  margin-top: 25px;
}

.copyright {
  background: #1c1c1c;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.copyright a {
  color: #bbbaba;
}

/*Top*/
.top {
  width: 40px;
  height: 60px;
  background: #e71010;
  text-align: center;
  font-size: 40px;
  line-height: 1.8;
  position: fixed;
  right: 120px;
  bottom: 25px;
  border-radius: 5px;
}
.top a {
  color: #fff;
}

.box {
  width: 300px;
  height: 300px;
  background: red;
}
.black {
  background: black;
}

.pot {
  width: 50px;
  height: 50px;
  background: maroon;
  position: relative;
}

/*
=================
CQ-section
=================
*/

.cq-body-sec, .dental-and-vision-body-sec{
	margin-top: 160px;
  background-color: rgb(236, 236, 236);

}
.cq-body-sec .row{
  background-color: #fff;
}
.cq-title h1{
    color:#1c1c1c;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.short-term-medical-title h1{
  color:#1c1c1c;
  font-size: 50px;
  text-align: center;
  margin-top: 108px;
  margin-bottom: 30px;
}

.cq-text{
  margin-top: 50px;
}
.cq-text li{
  list-style: none;
}
.cq-text li i{
  padding: 15px;
  color: #000;
  font-size: 25px;
}
.cq-text img{
  margin-top: 100px;
  width: 1126px;
  position: relative;
}
.short-term-medical img{
  margin-top: 50px !important;
  margin-bottom: 40px;
}
.short-term-medical-p1{
  color: #464343;
}
.short-term-medical-p2{
    color: #ad0909;
}
.short-term-medical-p3{
  color: #464343;
}
.short-term-medical-btn2{
  margin-bottom: 30px;
}
.cq-form{
  margin-top: 50px;
}
.cq-form-title h4{
  margin-top: 50px;
  text-align: center;
  color:#fff;
  padding-top: 20px;
}
.cq-form{
  position: sticky;
  top: 0;
}
.cq-form-title{
  background-color: #2d5ea3;
  height: 75px;
  width: 100%;
}
.blog-title a{
  color: #1c1c1c;
}
.blog-title a:hover{
  color: #d40505;
}
.blog-btn{
  text-align: center;
}
.blog-btn3{
  margin-bottom: 30px;
}
.cq-form form{
  background-color: #f4fafc;
  padding-top: 30px;
  padding-bottom: 30px;
}
.cq-form form .text-center{
  padding-top:15px;
}
.cq-form form button, .dental-and-vision-button{
  background-color: #d40505;
  color: #fff;
  border: 1px solid #d40505;
}
.cq-form form button:hover, .dental-and-vision-button:hover{
  background-color: #ffffff;
  color: #d40505;
}
.cq-brand{
  height: 150px;
  width: 100%;
  background-color: #2d5ea3;
  display: inline-block;
}
.cq-brand-logos{
  display: flex;
}
.cq-brand-logos li{
  list-style: none;
  padding: 5px;
}
.cq-brand-logos li img{
  margin-top: 50px;
  height: 30px;
  width: 101px;
}
.row .dental img{
  max-width: 100%;
}
.row .vision img{
  height: 183px;
  max-width: 100%;
  margin-left: 39px;
}
.dental-and-vision .img3{
  margin-top: 100px;
  max-width: 100%;
  height: 500px;
}
.dental-and-vision video{
   max-width: 100%;
   margin-top: 100px;
   position: relative;
}
.dental-and-vision i{
  font-size: 75px;
  color:#2d5ea3;
  position: absolute;
  left: 51%;
  top: 78%;
  transform: translate(-50%, -50%);
}
.contact-title-sec{
  margin-top: 215px;
}
.contact-title h1, .contact-title h3{
  color: #1c1c1c;
  text-align: center;
}
.contact-title h3{
   color: #1c1c1c;
   margin-bottom: 50px;
  }
  .contact-form-btn{
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .contact-title form{
    margin-left: 50px;
  }
  .contact-title iframe{
    margin-left: -170px;
    margin-bottom: 30px;
  }
  .about-address{
    margin-left: 200px;
  }
  .about-address a{
    color: #1c1c1c;
    transform: .3s;
  }
  .about-address a:hover{
    color:#4caf50
  }
  .about-address i{
    padding: 10px;
    color: #2d5ea3;
  }
  .address-contact
  {
    margin-top: 50px;
    margin-bottom: 30px;
  }