
@media (min-width: 991px) {
	h1 {
		color: skyblue;
	}
}
@media (min-width: 1000px) {
	h1 {
		color: gray;
	}
}

@media (width: 1200px) {
	h1 {
		color: aqua;
	}
}

@media (min-width: 480px) and (max-width: 600px) {
	h1 {
		color: yellow;
	}
}

